<!DOCTYPE html> 
<html>
	<head>
		<title>Fwitter</title>
	</head>

	<body>
	<ul>
		<% @tweets.each do |tweet| %>
			<li><%= "#{tweet.user} says: #{tweet.content}" %></li> 
		<% end %>
	</ul>
	</body>
</html>